/* Tamaño de la imagen del producto en el carrito */
.cart-item-image {
    
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Botón "Quitar producto" en rojo */
  .remove-from-cart {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336; /* Color rojo */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .remove-from-cart:hover {
    background-color: #e53935; /* Rojo más oscuro al pasar el mouse */
  }
  
  